# Notebook para extrair dados:

    - Auxilio Emergencial

## Bibliotecas

In [1]:
import os
import polars as pl
import pandas as pd

## Extração

In [2]:
data_path = '/home/eric/projetos privados/bambu/data/auxilio_emergencial.csv'

In [3]:
# Obtendo o tamanho do arquivo em bytes
tamanho_bytes = os.path.getsize(data_path)

# Convertendo o tamanho para gigabytes
tamanho_gb = tamanho_bytes / (1024 * 1024 * 1024)

# Imprimindo o tamanho em gigabytes
print(f'O tamanho do arquivo é de {tamanho_gb:.2f} GB')

O tamanho do arquivo é de 29.39 GB

In [4]:
%%time
df_temp = pl.scan_csv(data_path, ignore_errors = True)

CPU times: user 3.69 ms, sys: 0 ns, total: 3.69 ms
Wall time: 10.5 ms

In [5]:
%%time
df_result = df_temp.filter(pl.col(['municipio'])=="Irará")

CPU times: user 49 µs, sys: 70 µs, total: 119 µs
Wall time: 122 µs

In [6]:
df_result.columns

['ano_mes',
 'uf',
 'codigo_ibge_municipio',
 'municipio',
 'nis_beneficiario',
 'cpf_beneficiario',
 'beneficiario',
 'nis_responsavel',
 'cpf_responsavel',
 'responsavel',
 'enquadramento',
 'parcela',
 'observacao',
 'valor']

In [18]:
df_final = df_result.collect().to_pandas()

In [22]:
df_final.head()

,ano_mes,uf,codigo_ibge_municipio,municipio,nis_beneficiario,cpf_beneficiario,beneficiario,nis_responsavel,cpf_responsavel,responsavel,enquadramento,parcela,observacao,valor
0,202004,BA,2914505,Irará,2.040282e+10,***907215**,ABADE DE SOUZA DO ROSARIO,20402824843,***907215**,ABADE DE SOUZA DO ROSARIO,BOLSA FAMILIA,1,None,600.0
1,202004,BA,2914505,Irará,1.608792e+10,***541315**,ABDIAS ALVES PINHEIRO,16087915029,***541315**,ABDIAS ALVES PINHEIRO,BOLSA FAMILIA,1,None,600.0
2,202004,BA,2914505,Irará,2.004352e+10,***974005**,ABEL ACACIO DE JESUS LIMA,20043516054,***974005**,ABEL ACACIO DE JESUS LIMA,BOLSA FAMILIA,1,None,600.0
3,202004,BA,2914505,Irará,1.608791e+10,***517075**,ABEL CERQUEIRA DOS REIS,20983560042,***212285**,ANA CLAUDIA FERREIRA DA SILVA,BOLSA FAMILIA,1,None,600.0
4,202004,BA,2914505,Irará,1.615857e+10,***396725**,ABEL DE CERQUEIRA GONCALVES,20695943973,***000000**,CRISPINIANA PEREIRA DOS SANTOS,BOLSA FAMILIA,1,None,600.0

In [23]:
path_save = '/home/eric/projetos privados/bambu/data/auxilio_emergencial_irara.csv'

In [24]:
df_final.to_csv(path_save, index=False)